<div class="search-box">
<%= bootstrap_form_tag(ngos_path, method: :get) do |f| %>
  <div class="search-text">
    <%= f.text_field :query, hide_label: true %>
  </div>
  <div class="search-button">
    <%= f.submit "search" %>
  </div>
<% end %>
</div>
