.donations-new {
  .banner{
    background-size: cover !important;
    display: flex;
    margin-top: 10px;
    position: relative;

    .ngo-title-content{
      position: absolute;
      bottom: 10%;
      margin-left: 20px;
      text-shadow: 3px 2px black;

      .ngo-title{
        color: white;
      }
      .ngo-quote{
        color: white;
      }
    }
  }

  .grid{
    display: grid;
    grid-template-columns: 400px 1fr 1fr 1fr;
    grid-template-rows: 50% 25% 25%;
    padding-top: 10px;
    .container{
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
      margin-left: 50px;
    }
    .box {
      width: 730px;
      padding: 10px;
      border: 1px solid gray;
      margin: 0;
      margin-left: 10px;
      background-color: #ffffff;
      h2 {
        font-size: 28px;
        font-weight: bold;
      }
 }
   .grid-container{
    display: flex;
    position: relative;
  }
 }
}
