.ngo-show-page{
  .banner{
    background-size: cover !important;
    display: flex;
    margin-top: 10px;
    position: relative;

    .ngo-title-content{
      position: absolute;
      bottom: 10%;
      margin-left: 20px;
      text-shadow: 3px 2px black;

      .ngo-title{
        color: white;
      }
      .ngo-quote{
        color: white;
      }
    }
  }

  .grid{
    padding-top: 10px;

    .description{
      border: 1px solid #e4e4e4 !important;
      background-color: white;

    }
    .ngo-donate{
      border: 1px solid #e4e4e4 !important;
      background-color: white;

      .donate-form{
        padding: 10px;
        .btn-primary{
          padding: 10px;
          margin: 10px;
        }
      }

    }
    .ngo-map{
      border: 1px solid #e4e4e4 !important;
      background-color: white;

    }
    .ngo-icons{
      border: 1px solid #e4e4e4 !important;
      background-color: white;
      #ngo-icon-name{
        opacity: 0.6;
        font-size: 14px;
        font-weight: lighter;
      }
    }
  }
  .grid-container{
    display: flex;
    position: relative;
  }
  @media only screen  and (min-width : 768px){
    .grid{
      display: grid;
      grid-template-columns: 350px 1fr 1fr;
      grid-template-rows: 50% 50%;


      .description{
        grid-row: 1/ span 1;
        grid-column: 1/ span 2;
        padding: 15px;
        margin-right: 7px;
      }

      .ngo-donate{
        grid-row: 1/ span 2;
        grid-column: 3/ span 1;
        height: 50vh;
        padding: 15px;
        top: 85px;
        position: sticky !important;
      }

      .ngo-map{
        grid-row: 2/ span 1;
        grid-column: 1/ span 1;
        padding: 15px;
        margin-right: 7px;
        margin-top: 7px;
      }

      .ngo-icons{
        grid-row: 2/ span 1;
        grid-column: 2/ span 1;
        padding: 15px;
        margin-top: 7px;
        margin-right: 7px;
      }
    }
  }

  @media only screen and (min-width: 320px){
    .description{
      margin-bottom: 10px;
      padding: 10px;
    }
    .ngo-donate{
      margin-bottom: 10px;
      padding: 10px;
    }
    .ngo-icons{
      margin-bottom: 10px;
      padding: 10px;
    }
    .ngo-map{
      margin-bottom: 10px;
      padding: 10px;
    }
  }
}
