.prfl-page {
  margin: 20px;

  .profile-img {
    border-radius: 50%;
    width: 150px;
  }

  .profile {
    position: relative;
    div {
      padding: 20px;
      margin: 10px;
    }
  }

  .self {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .donations {
      margin-top: 0px;
      padding-top: 0px;
    .list {
      padding: 0px;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
    .card {
      display: flex;
      padding: 0px;
      width: 100%;
      div {
        margin: 0px;
        padding: 0px;
      }
      .card-body {
        padding: 0.8em;
        background-color: rgb(249, 249, 249);
        border: 0.8px solid #DDD;
        border-radius: 2px;
        word-wrap: break-word;
        overflow: hidden;

        flex: 1 1 80%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
          margin: 0px;
        }

        .type {
          max-width: 90px;
          opacity: 0.8;
        }
      }

      .card-notice {
        max-width:15px;
        flex: 0 1 20px;
        background-color: $blue;
      }

      .done {
        background-color: $green;

      }

      .failed {
        background-color: $red;
      }
    }
  }

  .messages {
    flex: 1 1 200px;
  }

  @media (min-width: 720px) {
    .profile {
      display: flex;
      justify-content: center;
    }
    .you {
      position: fixed;
      top: 8%;
      left: 2%;
      width: 15%
    }

    .messages {
      position: fixed;
      top: 8%;
      right: 2%;
      width: 30%
    }

    .big {
      position: relative;
      padding: 30px 0px !important;
      width: 50%;
    }
  }
}
