<div class="wrap">
 <div class="search">
  <input type="text" class="searchTerm" placeholder="What are you looking for?">
  <button type="submit" class="searchButton">
    <i class="fa fa-search"></i>
  </button>
</div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <% @ngos.each do |ngo| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <% if ngo.photos.empty? %>
        <% photo_url = "https://unsplash.com/photos/cAtzHUz7Z8g" %>
        <% else %>

        <% photo_url = cl_image_path ngos.photos.first.path, height: 500, width: 400, crop: :fit  %>
        <% end %>

        <%= link_to ngo_path(id: ngo.id) do %>
        <div class="card" style="background-image: url('<%= photo_url %>')">
          <div class="card-description">
            <%= ngo.name.upcase %>
          </div>
        </div>

        <% end %>
      <% end %>

      </div>
    </div>
  </div>
</div>
