<%= render 'layouts/navbar' %>

<div class="main-index-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <% @ngos.each do |ngo| %>
        <% # if ngo.photos.nill? %>
        <% photo_url = image_path 'card_default.jpg' %>

        <% # else %>

        <% #photo_url = cl_image_path ngos.photos.first.path, height: 500, width: 400, crop: :fit  %>
        <% #end %>

        <%= link_to ngos_path(id: ngo.id) do %>
        <div class="card" style="background-image: url('<%= photo_url %>')">
          <div class="card-description">
            <%= ngo.name.upcase %>
          </div>
        </div>
        <% end %>

      <% end %>

      </div>
    </div>
  </div>
  <div id="map"></div>
</div>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 52.5206, lng: 13.4098},
      scrollwheel: false,
      zoom: 8
    });
  }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
</script>

