<% content_for :title, "Unauthorized" %>
<div class="content" style="display: flex; justify-content: center; align-items: center; height: 50vh;">
  <center>
    <i style="font-size: 200px;" class="fa fa-ban fa-6" aria-hidden="true"></i>
    <h2>You can't access that ngo</h2>
  </center>
  <%= button_to  %>
</div>
