
<div class="banner" alt= "responsive_image" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.1) 50%), url('<%= @ngo.photo %>'); height: 75vh; width:100%; background-position: center;">


  <div class="ngo-title-content">
    <h3 class="ngo-title"><%= @ngo.name.capitalize %></h3>
    <p class="ngo-quote">"We want to help you help others."</p>
  </div>
</div>
