<div class="form-inline">
<%= simple_form_for :ngos_path, method: :get do |f| %>
  <%= f.input :query, placeholder: 'Your favorite NGO', label: false %>
  <%= f.submit "search", class: 'btn btn-warning' %>
<% end %>
</div>
