<% content_for :title, "Donate to #{@ngo.name}" %>

<div class="donations-new">
  <div class="container" >
    <%= render "shared/ngo_banner" %>

    <div class="grid-container">
      <div class="grid">
        <div class="donation-map">
          <%= render "shared/ngo_show_map" %>
        </div>
        <div class="box">
          <h2 class= "text-center">Confirm your Donation</h2>
          <%= render "shared/new_donation_form" %>

        </div>
      </div>
    </div>
  </div>
</div>

