.banner-icons {
  position: sticky !important ;
  top: 69px !important;
  width: 100%;
  z-index: 2;
  display: flex;
  padding: 20px 150px 20px 150px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.filter-icon {
 transform: scale(0.95);
 transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1);
  }
}

.active {
  border-bottom: 4px solid $orange;
}
