.banner-icons {
  position: sticky !important ;
  top: 70px !important;
  z-index: 2;
  display: flex;
  padding: 20px 50px 20px 50px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.banner-icons-type {

}
