.hvr-grow {
  position: sticky !important ;
  top: 69px !important;
  z-index: 2;
  display: flex;
  padding: 20px 50px 20px 50px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.banner-icons-type {

}
