<div class="banner" alt= "responsive_image" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.1) 50%), url('http://9tixb2v94ky1cp8qg3l1k4ba.wpengine.netdna-cdn.com/wp-content/uploads/2016/07/SEO-for-Non-Profit-Organizations.png'); height: 75vh; width:100%; background-position: center;">
  <div class="ngo-title-content">
    <h3 class="ngo-title"><%= @ngo.name %></h3>
    <p class="ngo-quote">"We want to help you help others."</p>
  </div>
</div>
